WITH
-- Clean sources to dois only
{% for source_name, truthtable in sources.items() -%}
{% if source_name != base_comparison -%}
{{ source_name }}_cleaned AS (
    SELECT
        papers.*

    FROM (SELECT doi, ARRAY_AGG(source_id ORDER BY count_citations DESC, source_id DESC)[offset(0)] as source_id
    FROM `{{ truthtable }}` as papers
    WHERE papers.doi IS NOT NULL
    GROUP BY doi) as dois

    LEFT JOIN `{{ truthtable }}` as papers ON papers.source_id = dois.source_id
),
{% endif -%}
{% endfor -%}

-- Construct a 'doi-table style' truth table
qdoi_table AS (
SELECT
    {{ base_comparison }}.doi as doi
    , {{ base_comparison }}.published_year as published_year
    , {{ base_comparison }}.type as type

    {% for source_name, truthtable in sources.items() -%}
    , {{ source_name }}
    {% endfor -%}

FROM
    {% for source_name, truthtable in sources.items() -%}
    {% if source_name == base_comparison -%}
    `{{ truthtable }}` as {{ base_comparison }}
    {% endif -%}
    {% endfor -%}
    {% for source_name, truthtable in sources.items() -%}
    {% if source_name != base_comparison -%}
    LEFT JOIN {{ source_name }}_cleaned as {{ source_name }} on UPPER(TRIM({{ base_comparison }}.doi)) = UPPER(TRIM({{ source_name }}.doi))
    {% endif -%}
    {% endfor -%}
)

SELECT
    published_year
    , type
    , COUNT(DISTINCT doi) as {{ base_comparison}}_dois
    {% for source_name, truthtable in sources.items() %}
    , COUNT(DISTINCT {{ source_name }}.source_id) as {{ source_name }}_ids
    , COUNT(DISTINCT IF({{ source_name }}.type is not null, doi, null)) as {{ source_name }}_has_type
    {% for item in data_items[source_name] -%}
    , COUNT(DISTINCT IF({{ source_name }}.has_{{ item[1] }}, doi, null)) as {{ source_name }}_has_{{ item[2] }}
    {% endfor -%}
    {% if source_name != base_comparison -%}
    {% for item in data_items[source_name] -%}
    , COUNT(DISTINCT IF((NOT {{ base_comparison}}.has_{{ item[0] }} AND {{ source_name }}.has_{{ item[1] }}), doi, null)) as {{ source_name }}_{{ item[2] }}_adds_presence
    , COUNT(DISTINCT IF(({{ base_comparison}}.count_{{ item[0] }}  < {{ source_name }}.count_{{ item[1] }}), doi, null)) as {{ source_name }}_{{ item[2] }}_adds_counts
    {% endfor -%}
    {% endif -%}
    {% endfor -%}

FROM qdoi_table
GROUP BY published_year, type
ORDER BY published_year DESC, type ASC