SELECT
    published_year
    , type
    , COUNT(source_id) as num_objects
    , COUNT(doi) as num_dois
    , COUNT(source_id) - COUNT(doi) as num_non_dois

    {% for item in data_items -%}
    , COUNT(IF(has_{{ item }}, source_id, null)) as objects_has_{{ item }}
    {% endfor %}

    {% for item in data_items -%}
    , COUNT(IF(has_{{ item }}, doi, null)) as dois_has_{{ item }}
    {% endfor -%}

    {% for item in data_items -%}
   , COUNT(IF(has_{{ item }}, source_id, null)) - COUNT(IF(has_{{ item }}, doi, null)) as non_dois_has_{{ item }}
    {% endfor %}

FROM {{ table }}
GROUP BY published_year, type
ORDER BY published_year DESC, type ASC
