SELECT
    published_year
    , type
    , field
    , COUNT(DISTINCT doi) as num_dois
    , COUNT(DISTINCT source_id) as num_objects

    {% for item in data_items -%}
    , COUNT(DISTINCT IF(has_{{ item }}, doi, null)) as dois_with_{{ item }}
    {% endfor -%}

    {% for item in data_items -%}
    , COUNT(DISTINCT IF(has_{{ item }}, source_id, null)) as objects_with_{{ item }}
    {% endfor %}

FROM {{ table }}
GROUP BY published_year, type, field
ORDER BY published_year DESC, type ASC, field ASC
